Source: plywood
Section: text
Priority: optional
Maintainer: Monty Taylor (Mordred) <monty@inaugust.com>
Build-Depends-Indep: debhelper (>> 3.0.0), python2.2 (>>2.2.0)
Standards-Version: 3.5.2

Package: plywood
Architecture: all
Depends: tetex-extra (>= 1.0.2)
Suggests: pdf-viewer, postscript-viewer, gs
Recommends: python-plywood, plywood-elisp
Description: Playwriting typing and typesetting help.
 The plywood project is a project to help type and typeset plays. It comprises 
 a small structured-text format, an Emacs mode, a translation program and a 
 LaTeX style. 
 . 
 The goals are:
 .
 1) Reduce the work of the playwright to that of writing a play. Even 
 learning special key strokes is discouraged -- the system should DWIM.
 . 
 2) Make the plays pretty, yet conforming to standard formatting rules. 
 . 
 Currently, we have implemented the Standard American format, as described by 
 Samuel French.
 .
 plywood contains the LaTeX style, which is all you really need to produce
 beautiful plays.

Package: python-plywood
Architecture: all
Suggests: plywood, plywood-elisp, xpdf, tetex
Depends: python2.2 (>= 2.2) 
Description: Python libraries and scripts for the translation of .ply files.
 The plywood project is a project to help type and typeset plays. It comprises 
 a small structured-text format, an Emacs mode, a translation program and a 
 LaTeX style. The goals are:
 .
 python-plywood provides a library and a program to translate files from the
 plywood structured text format to LaTeX.

Package: plywood-elisp
Architecture: all
Depends: emacs21 | emacs20 | emacsen
Suggests: plywood, python-plywood, xpdf, tetex
Description: Playwriting typing and typesetting help.
 The plywood project is a project to help type and typeset plays. It comprises 
 a small structured-text format, an Emacs mode, a translation program and a 
 LaTeX style. The goals are:
 .
 plywood-elisp contains a major mode for editing .ply files.
